/* This code is used to hide the help button in the bottom right corner of the app */
/* .cp__sidebar-help-btn {
    display: none;
} */

.table-wrapper {
    max-width: none;
}

/* This code stub is used to hise the references block from the page */
.references.mt-6.flex-1.flex-row {
    display: none;
}

/* This code stub is used to highlight the lines with custom colours by just tagging them with the data-ref */
/*
Red = Hex code: #FFADAD
Orange = Hex code: #FFD6A5
Yellow = Hex code: #FDFFB6
Green = Hex code: #CAFFBF
Blue = Hex code: #9BF6FF
Purple = Hex code: #BDB2FF
Gray = Hex code: #DFDFDF
*/
div.block-content-inner:has(a.tag[data-ref="cr"]) {background-color: #FFADAD}
div.block-content-inner:has(a.tag[data-ref="co"]) {background-color: #FFD6A5}
div.block-content-inner:has(a.tag[data-ref="cy"]) {background-color: #FDFFB6}
div.block-content-inner:has(a.tag[data-ref="cg"]) {background-color: #CAFFBF}
div.block-content-inner:has(a.tag[data-ref="cb"]) {background-color: #9BF6FF}
div.block-content-inner:has(a.tag[data-ref="cp"]) {background-color: #BDB2FF}
div.block-content-inner:has(a.tag[data-ref="ca"]) {background-color: #DFDFDF}