{:highlights [{:id #uuid "64986751-edb9-4592-b29d-a9c00218d121",
               :page 13,
               :position {:bounding {:x1 363.35227662324905,
                                     :y1 221.2625093460083,
                                     :x2 499.69624024629593,
                                     :y2 237.2625093460083,
                                     :width 640,
                                     :height 905.1364063969896},
                          :rects ({:x1 363.35227662324905,
                                   :y1 221.2625093460083,
                                   :x2 499.69624024629593,
                                   :y2 237.2625093460083,
                                   :width 640,
                                   :height 905.1364063969896}),
                          :page 13},
               :content {:text "omputers are about as "},
               :properties {:color "yellow"}}],
 :extra {:page 13}}
