{:highlights [{:id #uuid "64778af8-d622-4271-9018-a25c6e18b224",
               :page 3,
               :position {:bounding {:x1 262,
                                     :y1 187.0125732421875,
                                     :x2 371.4084777832031,
                                     :y2 220.612548828125,
                                     :width 641.2698412698412,
                                     :height 841.9047619047618},
                          :rects ({:x1 262,
                                   :y1 187.0125732421875,
                                   :x2 371.4084777832031,
                                   :y2 220.612548828125,
                                   :width 641.2698412698412,
                                   :height 841.9047619047618}),
                          :page 3},
               :content {:text "JavaScript"},
               :properties {:color "yellow"}}
              {:id #uuid "64778afa-e9b6-4836-9ba9-c9690feb81e4",
               :page 2,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 641,
                                     :y2 1690,
                                     :width 640,
                                     :height 839.9238095238095},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 640,
                                   :y2 0,
                                   :width 640,
                                   :height 839.9238095238095}
                                  {:x1 0,
                                   :y1 849,
                                   :x2 641,
                                   :y2 1690,
                                   :width 640,
                                   :height 839.9238095238095}),
                          :page 2},
               :content {:text nil},
               :properties {:color "yellow"}}],
 :extra {:page 36}}
